/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f3f7f3;
  padding: 20px;
}

/* Header */
.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

/* Botones */
.btn {
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  background: #2ecc71;
  color: white;
  border: none;
  font-weight: bold;
}

.btn:hover {
  background: #27ae60;
}

.btn.outline {
  background: transparent;
  border: 2px solid #2ecc71;
  color: #2ecc71;
}

.btn.outline:hover {
  background: #2ecc71;
  color: white;
}

/* Grid ge*
